/* Login.css */

.login_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
}
.login_form {
      width: 50vw;
      background-color: var(--secondary);
      padding: 10px;
      margin: 20px;
      text-align: center;
}

.login_form input {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: none;
      border-radius: 3px;
}

.button {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background-color: var(--tertiary);
      color: var(--primary-text);
      border: none;
      border-radius: 3px;
      cursor: pointer;
}

.button:hover {
      background-color: var(--highlight);
}

@media (max-width: 768px) {
      .login_form {
            width: 90vw;
      }
}
