@import '../../themes/themes.module.scss';

.list {
  list-style: none;
  padding: 0;
}

.item {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;

  @each $variant, $colors in $color_variants {
    &.#{$variant} {
      background-color: map-get($colors, main);
      color: map-get($colors, maintxt);

      &:hover {
        background-color: map-get($colors, highlight);
        color: map-get($colors, highlighttxt);
      }
    }
  }
}

.selected {
  @each $variant, $colors in $color_variants {
    &.#{$variant} {
      background-color: map-get($colors, secondary);
      color: map-get($colors, maintxt);

      &:hover {
        background-color: map-get($colors, highlight);
        color: map-get($colors, highlighttxt);
      }
    }
  }
}
