.container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
}

.item {
      width: 30vw;
      text-align: center;
      background-color: var(--secondary);
      color: var(--primary-text);
      padding: 1vw;
      margin-bottom: 2vh;
      border-radius: 5px;
      text-decoration: none;
}

.item:hover {
      background-color: var(--highlight);
      color: var(--secondary-text);
}

@media only screen and (max-width: 767px) {
      .container {
            flex-direction: column;
            align-content: center;
      }
      .item {
            width: 92%;
            padding-top: 2vh;
            padding-bottom: 2vh;
            margin-bottom: 20px;
      }
}
