@import '../../../themes/themes.module.scss';

.boton_chart {
  cursor: pointer;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 20%;
  @each $variant, $colors in $color_variants {
    &.#{$variant} {
      background-color: map-get($colors, main);
      border: 1px solid map-get($colors, secondary);

      &:hover {
        background-color: map-get($colors, highlight);
        color: map-get($colors, highlighttxt);
      }
    }
  }
}

.boton_chart.selected {
  @each $variant, $colors in $color_variants {
    &.#{$variant} {
      background-color: map-get($colors, highlight);
    }
  }
}
