.botones_chart {
  height: 10%;
  padding-top: 0.3rem;
  margin-right: 1%;
  display: flex;
  justify-content: flex-end;
}

.container_chart {
  padding: 1%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
