.container {
      background-color: var(--secondary);
      color: var(--primary-text);
      height: 100%;
      text-align: center;
      padding: 30px;
}

.layout_link {
      margin: 30px;
}

.layout_link a {
      text-decoration: none;
      padding: 10px;
      background-color: var(--tertiary);
      border-radius: 5px;
}
