$main_lg: rgb(255, 255, 255);
$primary_lg: rgb(235, 249, 255);
$secondary_lg: rgb(175, 205, 252);
$tertiary_lg: rgb(0, 157, 214);
$maintxt_lg: rgb(0, 0, 0);
$secondarytxt_lg: rgb(255, 255, 255);
$highlight_lg: rgb(255, 248, 55);
$highlighttxt_lg: rgb(0, 0, 0);
$shadow_lg: rgb(239, 239, 239);
