$main_dk: #0f0e17;
$primary_dk: rgb(0, 0, 0);
$secondary_dk: #f25f4c;
$tertiary_dk: #e53170;
$maintxt_dk: rgb(255, 255, 255);
$secondarytxt_dk: rgb(67, 65, 65);
$highlight_dk: #ff8906;
$highlighttxt_dk: rgb(255, 255, 255);
$shadow_dk: rgb(0, 0, 0);
